name: test
on: [push, pull_request]
jobs:
  test:
    name: Node ${{ matrix.node-version }} and ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        node-version: [16.x]
        os: [ubuntu-latest, windows-latest, macos-latest]
    steps:
    - uses: actions/checkout@v1
    - name: Use Node ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: npm install
      run: npm i
    - name: npm run build
      run: npm run build
    - name: npm test
      run: npm test
      if: matrix.os != 'ubuntu-latest'
    - name: npm run coverage:ci
      run: npm run coverage:ci
      if: matrix.os == 'ubuntu-latest'
    - name: npm run lint
      run: npm run lint
      if: matrix.os == 'ubuntu-latest'
    - name: coveralls
      uses: coverallsapp/github-action@master
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
        path-to-lcov: ./.lcov.info
      if: matrix.os == 'ubuntu-latest'
